<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Glam Haven</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../../../assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="employee-list-page.component.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">Beauty Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/firstPage">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/employeeList">Our team</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('../../../assets/wallpaper1-employeeListPage.jpg')">
  <div class="text-right">
    <img class="img-fluid rounded-circle mb-4" src='../../../assets/logo-firstPage_2.png' alt="..." />
    <h1 class="text-white fs-3 fw-bolder">Glam Haven</h1>
    <p class="text-white-50 mb-0">Meet our beauty experts</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>We would like to take a moment to introduce ourselves to you.</h2>
        <p class="lead">We understand that everyone's beauty needs are unique, which is why we offer personalized consultations to ensure that our services meet your specific requirements. Our experienced stylists and technicians are committed to providing you with the best possible results while ensuring your comfort and satisfaction.</p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('../../../assets/wallpaper2-employeeListPage.jpg')">F
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 10rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container col-md-7">
    <div class="row justify-content-center">
        <div class="center-container">
          <div class="display-block">
            <div [style]="'display:flex'">
              <table mat-table [dataSource]="employeesList" class = "table-striped-columns">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> name </th>
                  <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
                </ng-container>
                <ng-container matColumnDef="employeeType">
                  <th mat-header-cell *matHeaderCellDef> Beauty Field</th>
                  <td mat-cell *matCellDef="let employee"> {{employee.employeeType}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let employeesList; columns: columnsToDisplay"></tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Beauty Salon 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../../js/scripts.js"></script>
</body>
</html>
