<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Beauty Salon</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="admin-home-page.component.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Beauty Salon Admin</div>

    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="navbarDropdownEmployee" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employees</a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/employeeDataBaseManagement">Manage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/employeeDataBaseQuery">Query</a>
      </div>

      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="navbarDropdownClient" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/clientDataBaseManagement">Manage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/clientDataBaseQuery">Query</a>
      </div>

      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/userDataBaseManagement">Manage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/userDataBaseQuery">Query</a>
      </div>

      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="navbarDropdownAppointment" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Appointments</a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/appointmentDataBaseManagement">Manage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/appointmentDataBaseQuery">Query</a>
      </div>

      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="navbarDropdownBeautyService" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BeautyServices</a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/beautyServiceDataBaseManagement">Manage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/beautyServiceDataBaseQuery">Query</a>
      </div>

    </div>
    <div>
      <img class="img-fluid rounded-circle " src='./assets/logo-adminHomePage.png' alt="..." />
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="/FirstPage">First Page</a></li>
            <li class="nav-item active"><a class="nav-link" href="/adminHomePage">Admin Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/logout">Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register">Create new account</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
      <h1 class="mt-4">Glam Haven database management</h1>

    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>


