<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Glam Haven</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="client-home-page.component.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/firstPage">Beauty Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/firstPage">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/employeeList">Our team</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/clientHomePage">ClientHome</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-1 bg-image-full" style="background-image: url('./assets/wallpaper1-clientHomePage.webp')">
  <div style="height: 4rem"></div>
  <div class="text-center my-5" style = "position:relative; left:600px;">
    <img class="img-fluid rounded-circle mb-4" src='./assets/logo-firstPage_2.png' alt="..." />
    <h1 class="text-white fs-3 fw-bolder">Glam Haven</h1>
    <p class="text-white-50 mb-0">Welcome to Client Portal</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">

        <h2>Welcome back, {{clientName}}</h2>
        <h2 class="lead">Welcome back to our beauty salon! We're thrilled to have you here and can't wait to help you feel and look your best.</h2>

    </div>
  </div>
</section>

<div class="py-5 bg-image-full" style="background-image: url('/assets/wallpaper2-clientHomePage.jpg')">
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 15rem"></div>
</div>


<div class="row justify-content-center">
  <h2 class="lead">APPOINTMENTS SCHEDULE</h2>
</div>

<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <a *ngIf="queryMethod=='findByClientNameAndDateTime'">
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [(ngModel)]="dateTime" >

          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>

          <ngx-mat-datetime-picker #picker [stepMinute]="30" [showSeconds] = "false" ></ngx-mat-datetime-picker>
        </mat-form-field>
      </a>


      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select id = "querySelect" (selectionChange)="changeQuery($event.value)">
          <mat-option value="findByClientNameAndDateTime">find by client and dateTime</mat-option>
          <mat-option value="findAllByClient">find by client</mat-option>

        </mat-select>
      </mat-form-field>
      <div>
        <button class="button-add-row" mat-button (click)="queryUserDataBase()">
          Search
        </button>
      </div>

      <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
            <span *ngSwitchDefault>{{ col.label }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <ng-container *ngSwitchCase="'isSelected'">
                <mat-checkbox
                  (change)="element.isSelected = $event.checked"
                  [checked]="element.isSelected"
                ></mat-checkbox>
              </ng-container>
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button class = "button-add-row" mat-stroked-button (click)="element.isEdit = !element.isEdit">
                  Edit
                </button>
                <button
                  mat-stroked-button
                  class="button-remove-rows"
                  (click)="removeRow(element.id)"
                >
                  Delete
                </button>
              </div>
              <div *ngIf="col.key == 'client' || col.key == 'employee'">

              <span *ngSwitchDefault>
                 {{ element[col.key]['name']}}
              </span>
              </div>

              <div *ngIf="col.key != 'client' && col.key != 'employee'">
              <span *ngSwitchDefault>
          {{ element[col.key]}}
        </span>
              </div>

            </div>
            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
              <div *ngSwitchCase="'isSelected'"></div>
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button
                  mat-button class = "button-add-row"
                  (click)="editRow(element)"
                  [disabled]="disableSubmit(element.id)"
                >
                  Done
                </button>
              </div>

              <div *ngSwitchDefault>
                <mat-form-field class="form-input" *ngIf="col.key != 'id' && col.key != 'client' && col.key != 'employee'">
                  <input
                    matInput
                    [required]="col.required"
                    [pattern]="col.pattern"
                    [type]="col.type"
                    [(ngModel)]="element[col.key]"
                    (change)="inputHandler($event, element.id, col.key)"
                  />
                </mat-form-field>


              </div>
            </div>


          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Beauty Salon 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>


