<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Glam Haven</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="first-page.component.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">Beauty Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/firstPage">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/employeeList">Our team</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('../../../assets/wallpaper1-firstPage.jpg')">
  <div style="height: 4rem"></div>
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src='./assets/logo-firstPage_2.png' alt="..." />
    <h1 class="text-white fs-3 fw-bolder">Glam Haven</h1>
    <p class="text-white-50 mb-0">Welcome to our beauty sanctuary</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>It's a pleasure to meet you</h2>
        <p class="lead">Welcome to our beauty salon, where we believe that beauty begins with self-care. Our salon offers a wide range of services designed to enhance your natural beauty.</p>
        <p class="mb-0"> Our experienced and friendly staff are committed to providing you with the highest level of service and making you feel comfortable and relaxed during your visit. Whether you are preparing for a special occasion or simply looking for a little self-care, we are here to help you feel confident and beautiful. Book an appointment with us today and let us help you discover your best self.</p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('./assets/wallpaper2-firstPage.jpg')">F
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>About our work</h2>
        <p class="lead">At our salon, we use only the highest quality products and equipment to ensure that you receive the best possible results. Our skilled stylists and beauty therapists are trained in the latest techniques and trends to provide you with a customized experience that meets your unique needs.</p>
        <p class="mb-0"> We understand that everyone has different preferences and styles, which is why we take the time to listen to your needs and preferences before we begin any treatment. Whether you are looking for a bold new hairstyle or a relaxing facial, we will work with you to create a look that makes you feel confident and beautiful.</p>
        <p class="mb-xl-0">At our beauty salon, we strive to provide our clients with a welcoming and relaxing atmosphere where they can escape the stresses of everyday life and focus on themselves. </p>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Beauty Salon 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
